[mgr]
sort_sensitive = false
sort_reverse   = false
show_symlink   = true
ratio = [1, 4, 3]

[opener]
folder = [
  { run = 'nohup mpv "$@" > /tmp/mpv.log &' , desc = "Mpv"},
  { run = 'open -a kid3 "$@"', desc = "Kid3"},
]
archive = [
  { run = 'open "$@"', desc = "Open" },
]
text = [
  { run = 'nvim "$@"', block = true },
]
image = [
  { run = 'open "$@"', desc = "Open" },
  { run = 'nohup mpv "$@" > /tmp/mpv.log &',  desc = "Mpv" },
  { run = '''exiftool "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show EXIF" },
]
video = [
  { run = 'open "$@"', desc = "Open" },
  { run = 'nohup mpv "$@" > /tmp/mpv.log &',  desc = "Mpv" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
]
audio = [
  { run = 'open "$@"', desc = "Open" },
  { run = 'nohup mpv "$@" > /tmp/mpv.log &',  desc = "Mpv" },
  { run = 'open -a kid3 "$@"', desc = "Kid3"},
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
]
fallback = [
  { run = 'open -R "$@"', desc = "Reveal in Finder", for = "unix" },
]

[open]
rules = [
    { name = "*/",      use = ["fallback", "folder"] },
    { mime = "text/*",  use = ["text", "fallback"] },
    { mime = "image/*", use = ["image", "fallback"] },
    { mime = "video/*", use = ["video", "fallback"] },
    { mime = "audio/*", use = ["audio", "fallback"] },
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["archive", "fallback"] },
    { name = "*",       use = ["text", "fallback"] },
]

[tasks]
micro_workers = 5
macro_workers = 10
bizarre_retry = 5

[log]
enabled = false
