[mgr]
sort_sensitive = false
sort_reverse   = false
show_symlink   = true
ratio = [0, 1, 1]

[opener]
archive = [
  { run = 'open "$@"', desc = "Open" },
]
text = [
  { run = 'nvim "$@"', block = true },
]
image = [
  { run = 'open "$@"', desc = "Open" },
  { run = '''exiftool "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show EXIF" },
]
video = [
  { run = 'open "$@"', desc = "Open" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
]
audio = [
  { run = 'open "$@"', desc = "Open" },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
]
fallback = [
  { run = 'open -R "$@"', desc = "Reveal in Finder", for = "unix" },
]

[open]
rules = [
    { name = "*/",      use = ["fallback", "folder"] },
    { mime = "text/*",  use = ["text", "fallback"] },
    { mime = "image/*", use = ["image", "fallback"] },
    { mime = "video/*", use = ["video", "fallback"] },
    { mime = "audio/*", use = ["audio", "fallback"] },
    { mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = ["archive", "fallback"] },
    { name = "*",       use = ["text", "fallback"] },
]

[tasks]
micro_workers = 5
macro_workers = 10
bizarre_retry = 5
image_alloc   = 1073741824
image_bound = [ 65535, 65535 ]

[log]
enabled = false

[preview]
wrap = "yes"
max_width  = 3000
max_height = 3000
image_quality = 70
image_filter = "nearest"


[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"

[plugin]
  prepend_preloaders = [
    { mime = "{audio,video,image}/*", run = "mediainfo" },
    { mime = "application/subrip", run = "mediainfo" },
    { mime = "application/postscript", run = "mediainfo" },
  ]
  prepend_previewers = [
    { mime = "{audio,video,image}/*", run = "mediainfo"},
    { mime = "application/subrip", run = "mediainfo" },
    { mime = "application/postscript", run = "mediainfo" },
  ]
